.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.addedCarsButton {
  font-size: 18px;
  line-height: 44px;
  min-width: 220px;
  padding: 0 15px;
  background: #79be00;
  border-radius: 5px;
  color: white;
}
