.header {
  height: 110px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.logOutButton {
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.logOutButton:hover {
  background-color: #f1f1f1;
  box-shadow: #f1f1f1 0px 0px 10px;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-weight: 500;
}
@media (max-width: 360px) {
  .link {
    height: 42px;
    width: 100%;
  }
}
.link:hover {
  text-decoration: underline;
  scale: 1.1;
}
