.header {
  height: 110px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-weight: 500;
}
@media (max-width: 360px) {
  .link {
    height: 42px;
    width: 100%;
  }
}
.link:hover {
  text-decoration: underline;
  scale: 1.1;
}
